project_id = "yhjwdoiaafaajhlsxoyt"

[api]
enabled = true
port = 54321
schemas = ["public", "storage", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
major_version = 15

[db.pooler]
enabled = false
port = 54329
pool_mode = "transaction"
default_pool_size = 20
max_client_conn = 100

[realtime]
enabled = true
ip_version = "IPv4"

[studio]
enabled = true
port = 54323
api_url = "http://127.0.0.1"

[storage]
enabled = true
file_size_limit = "50MiB"

[auth]
enabled = true
site_url = "http://localhost:3000"
additional_redirect_urls = ["https://localhost:3000"]
jwt_expiry = 3600
enable_signup = true

[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = true

[functions.create-user-with-notifications]
verify_jwt = true

[functions.reset-user-password]
verify_jwt = true

[functions.webhook-dispatcher]
verify_jwt = false

[functions.send-sms]
verify_jwt = false

[functions.validate-franchisee-phone]
verify_jwt = false

[functions.update-franchisee-password]
verify_jwt = false
[functions.migrate-franchisees]
enabled = true
verify_jwt = true
import_map = "./functions/migrate-franchisees/deno.json"
# Uncomment to specify a custom file path to the entrypoint.
# Supported file extensions are: .ts, .js, .mjs, .jsx, .tsx
entrypoint = "./functions/migrate-franchisees/index.ts"
# Specifies static files to be bundled with the function. Supports glob patterns.
# For example, if you want to serve static HTML pages in your function:
# static_files = [ "./functions/migrate-franchisees/*.html" ]
